.background-not-found-image {
    background-image: url('../assets/Backgroung.png'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}

.background-not-found-image-content {
    background-image: url('../assets/not-found.gif');
    height: 600px;
    width: 600px;
    position: absolute;
    font-weight: bold;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta la posición al centro correctamente */
}
