
footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    position: relative;
    margin-top: auto;
 }

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.copyright {
    color: white;
    font-size: 14px;
    margin: 0;
}