
.image-container {
    width: 100%;
    height: 660px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.video-container {
    margin: 10%;
    height: 390px;
    width: 640px;
}

.image-info {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin: 10%;
    align-items: flex-start;
}

.button-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
}

.button-container button {
    background-color: rebeccapurple;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    height: 100px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: purple;
}




